:root{
    --colorHead-foot: #3F67F0;
    --colorhtml: #F5F0E6;
    --colorMain: #DFDAD1;

    --color-font-headers: #8DF018;
    --color-font-footer: #58A300;
    
    --color-font-hover: #A32908;
    --color-font-active: #F03300;

    --header-font-size: 1.6rem;
    --paragraph-font-size: 1.6rem;
    --paragraph-font-family: 'Roboto Mono', monospace;

    --width-contenedores: 70%;
    --minwidth-contenedores: 35rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    background-color: var(--colorhtml);
}
.header{
    font-size: var( --header-font-size);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: var(--paragraph-font-family);

    width: var(--width-contenedores);
    min-width: var(--minwidth-contenedores);
    margin: 0 auto;
}
.navigator{
    background-color: var(--colorHead-foot);
    border-style: groove;
    border-width: 1px;
    border-bottom: 0px;
    border-color: black;


}
.contenedor-lista{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista{
    padding: 10px;
    display: inline-block;
}

.lista a{
    color: var(--color-font-headers);
}



.contenedor{
    background-color: var(--colorMain);

    font-size: 1.6rem;

    width: var(--width-contenedores);
    min-width: var(--minwidth-contenedores);

    margin: 0 auto;

    border-style: groove;
    border-width: 1px;
    border-top: 0px;
    border-color: black;
}

.contenedor p{
    padding: 0.5rem;
    max-width: 300px;
    font-family: var(--paragraph-font-family);
}

.C1, .C2, .C3, .C4, .C5, .C6, .C7, .C8, .C9, .C10, .C11, .C12{
    /* height: 42rem; 
    min-height: 40rem; */   /*de esta manera no se genera overflow sino que el contenedor toma la distancia de el parrafo mas la foto*/
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
} 

.F1, .F2, .F3, .F4, .F5, .F6, .F7, .F8, .F9, .F10, .F11, .F12 figcaption{
    font-size: 1.2rem;
}


.imgC1, .imgC2, .imgC3, .imgC4, .imgC5, .imgC6, .imgC7, .imgC8,
 .imgC9, .imgC10, .imgC11, .imgC12{
    height: 300px;
    min-height: 300px;
    width: 300px;
    min-width: 300;
}

.pie-pagina{
    padding: 18px;
    font-size: 2.4rem;
    text-align: center;
    font-family: var(--paragraph-font-family);
    color: var(--color-font-footer);

    width: var(--width-contenedores);
    min-width: var(--minwidth-contenedores);

    margin: 0 auto;
    min-height: 30px;

    background-color: var(--colorHead-foot);
    border-style: groove;
    border-width: 1px;
    border-top: 0px;
    border-color: black;
}

.lista a:hover{
    color: var(--color-font-hover);
}

.lista a:active{
    color: var(--color-font-active);
}

.lista a::after{
    content: " - ";
}