.header{
    width: 70%;
    min-width: 1020px;
}

.contenedor{
    height: 80%;
    min-height: 80vh;

    width: 70%;
    min-width: 1020px;
}

.C1, .C2, .C3, .C4, .C5, .C6, .C7, .C8, .C9, .C10, .C11, .C12{
    max-width: none;
    display: block;
}

.C123 {
    display: flex;
}

.C456{
    display: flex;
}

.C789{
    display: flex;
}

.C101112{
    display: flex;
}

.pie-pagina{
    width: 70%;
    min-width: 1020px;
}