:root{
    --colorHead-foot: #077c38;
    --colorhtml: rgb(219, 215, 215);
    --colorMain: bisque;
    --header-font-size: 1.6rem;
    --paragraph-font-size: 1.6rem;
    --paragraph-font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    background-color: var(--colorhtml);
}
.header{
    font-size: var( --header-font-size);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    width: 70%;
    min-width: 411px;
    margin: 0 auto;
}
.navigator{
    background-color: var(--colorHead-foot);
    border-style: groove;
    border-width: 1px;
    border-bottom: 0px;
    border-color: black;


}
.contenedor-lista{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista{
    padding: 10px;
    display: inline-block;
}

.lista a{
    color: antiquewhite;
}



.contenedor{
    background-color: var(--colorMain);
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    width: 70%;
    margin: 0 auto;
}

.contenedor p{
    padding: 0.6rem;
}


.pie-pagina{
    padding: 18px;
    font-size: 2.4rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--colorMain);

    width: 70%;
    min-width: 411px;
    margin: 0 auto;
    min-height: 30px;

    background-color: var(--colorHead-foot);
    border-style: groove;
    border-width: 1px;
    border-top: 0px;
    border-color: black;
}

.lista a:hover{
    color: blue;
}

.lista a:active{
    color: orangered;
}

.lista a::after{
    content: " - ";
}