/* .header{
    width: 70%;
    min-width: 900px;
}

.contenedor{
    height: 80%;
    min-height: 80vh;

    width: 70%;
    min-width: 900px;

    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
}

.contenedor .C1, .C2, .C3 {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.C4, .C5, .C6{

}

.C7, .C8, .C9{

}

.C10, .C11, .C12{

}

.pie-pagina{
    width: 70%;
    min-width: 900px;
} */