.header{
    width: 70%;
    min-width: 900px;
}

.container{
    height: 80%;
    min-height: 80vh;

    width: 70%;
    min-width: 900px;
    
}

.presentacion{
    margin-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 0.4rem;
    width: 100%;
    height: 30%;
    /* align-items: center; */
}

.contenedor1{
    display: flex;
    align-items: flex-start;
}
.imagen{

    justify-content: left;
    margin: 3rem;
}
.img{
    height: 500px;
    min-height: 500px;
    width: 375px;
    min-width: 375px;
}
.presentacion1{
    margin-top: 1rem;
    width: 60%;
}

.pie-pagina{
    width: 70%;
    min-width: 900px;
}