*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    background-color: rgb(219, 215, 215);
}
.header{
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    width: 70%;
    min-width: 411px;
    margin: 0 auto;
}
.navigator{
    background-color: #077c38;
    border-style: groove;
    border-width: 1px;
    border-bottom: 0px;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lista{
    padding: 10px;
    color: antiquewhite;
}

.container{
    border: 1px solid black;
    background-color: bisque;

    position: relative;

    width: 70%;
    min-width: 411px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.presentacion{
    padding: 20px;
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;

}

.presentacion1{
    padding: 20px;
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.imagen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.img{
    height: 300px;
    min-height: 300px;
    width: 210px;
    min-width: 210;
}

.pie-pagina{
    width: 70%;
    min-height: 30px;
    margin: 0 auto;
    min-width: 411px;
    background-color: #077c38;
    border-style: groove;
    border-width: 1px;
    border-top: 0px;
    border-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: bisque;
    text-align: center;
    padding: 18px;
    font-size: 2.4rem;
}