.header{
    width: 70%;
    min-width: 600px;
}

.contenedor{
    width: 70%;
    min-width: 600px;
}

.C1, .C2, .C3, .C4, .C5, .C6, .C7, .C8, .C9, .C10, .C11, .C12{
    max-width: none;
    display: flex;
    justify-content: center;
}

.pie-pagina{
    width: 70%;
    min-width: 600px;
}